.navButton {
    background-color: #b2e3ff;
    color: black;
    width: auto;
    display: inline-block;
    padding: 10px 12px;
}

.navButton a {
    text-decoration: none;
}

.navButton p {
    margin: 0;
}

@media only screen and (max-width: 1000px) {

    .navButton {
        margin-bottom: 15px;
    }

}